<%= form_with(model: youtube, local: true) do |form| %>
  <% if youtube.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(youtube.errors.count, "error") %> prohibited this youtube from being saved:</h2>

      <ul>
        <% youtube.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body, "コメント" %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :youtube_url, "YouTubeのURL" %>
    <%= form.text_field :youtube_url %>
  </div>

  <div class="actions">
    <%= form.submit "動画を投稿" %>
  </div>
<% end %>
