<h1 id="title">
  <%= image_tag 'omosirosugirusasugasinagawasann.png', size: '60x60' %>裏に〜とプログラマちゃんねる<%= image_tag 'maedaatuko.png', size: '60x60' %>
</h1>

<li><a href="http://info.2ch.sc/guide/adv.html#saku_guide" target="_blank">ガイドライン(2ちゃんねる引用)</a></li>
<%= image_tag 'nonsta-omosirosyasinn.png', size: '100x100'%>
<li><a href="https://2ch.sc/">２ちゃんねる</a></li>
<li><a href="https://cruel.org/freeware/hacker.html" target="_blank">ハッカーになろう</a></li>
<li class="indent"><a href="http://norvig.com/21-days.html" target="_blank">10年がかりでプログラムを学ぼう</a></li>
<li><a href="" target="_blank">こうた日記（閉鎖中）</a></li>
<li><%= link_to "おすすめYoutube動画埋め込みサイト", youtubes_path%></li>
<li><%= link_to "手島優非公式応援サイト【愛がいっぱいIカップ】", tezimas_index_path%></li>
<li><a href="https://6246.teacup.com/utunokyoyu/bbs" target="_blank">鬱の悩みを共有する会</a></li>
<li><a href="https://5ch.net/" target="_blank">5ちゃんねる</a></li>
<li><a href="https://fukurotoji.tokyo/" target="_blank">フクロトジ</a>（アダルト）</li>
<li><a href="https://news.yahoo.co.jp/" target="_blank">Yahoo!ニュース</a></li>
<li><a href="https://www3.nhk.or.jp/news/">NHKニュース</a></li>
<li><a href="https://news.tv-asahi.co.jp/">テレ朝ニュース</a></li>
<li><a href="https://bunshun.jp/">文春オンライン</a></li>
<li class="indent"><a href="https://bunshun.jp/articles/-/43886">辻敬太氏が語った交通事故“被害者との諍い”の真実</a></li>
<li><a href="http://vipprog.net/wiki/exercise.html" target="_blank">練習問題 - プログラミングスレまとめ in VIP</a></li>
<li><a href="https://gorira55.github.io/KozinIppatuateruAkirameta/" target="_blank">個人開発で一発当てるのは諦めた件</a></li>
<li><a href="https://www.nicovideo.jp/" target="_blank">ニコニコ</a></li>
<li><a href="http://www.ikimono.net/sono53/index.html" target="_blank">アカハライモリ（ニホンイモリ）観察日記　Page１</a></li>
<li><a href="https://youtu.be/wQ3yiDZp8y0" target="_blank">『イモリとカエルから学ぶ発生のしくみ～教科書では伝えきれない魅力的な教材の開発～』農学部生産農学科理科教員養成プログラム／ 有泉 高史 教授</a></li>
<li><a href="https://hige-oyaji.at.webry.info/" target="_blank">ヒゲおやじの気まま流野菜づくり日記</a></li>
<li class="indent"><a href="http://hiro.asks.jp/">ひろゆき日記＠オープンSNS。</a></li>
<li><a href="https://kona0001.hatenablog.com/" target="_blank">kona0001の日記</a></li>
<li><a href="https://kenkoooo.com/atcoder/#/table/" target="_blank">AtCoder Problems</a></li>
<li><a href="https://news.mynavi.jp/kikaku/newlife-21/?utm_source=special&utm_medium=internal" target="_blank">一途に自分と対話する。元ブルゾンちえみ、藤原しおりの人生を満足して生きる指針</a></li>
<li><a href="https://otona-scratch.champierre.com/" target="_blank">大人のためのScratch</a></li>
<li><a href="http://www.kabukicho.or.jp/" target="_blank">KABUKI町</a></li>
<li><a href="https://tokyodeep.info/" target="_blank">東京DEEP案内</a></li>
<li><a href="https://www.cityheaven.net/" target="_blank">シティヘブンネット</a>（アダルト）</li>
<li><a href="http://www.patu.jp/" target="_blank">Patu</a>(Shot Bar)</li>
<li>スナック・マドンナ（立川）たまにぼったくられます</li>
<li><a href="https://toyokeizai.net/" target="_blank">東洋経済オンライン</a></li>

<h1>投稿一覧</h1>
<ul>
  <% @uraposts.each do |urapost| %>
    <li>
        <%= link_to urapost.title, uraposts_show_path(urapost.id) %>
        <%= link_to '[削除]', urapost_delete_path(urapost.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
    </li>
  <% end %>
</ul>

<h1>新規投稿</h1>
<%= form_for @newUrapost, :url => {:action => 'create'} do |f| %>
  <%= f.text_field :title %>
  <%= f.submit '投稿'%>
<% end %>
<a class="twitter-timeline" data-width="300" data-height="500" data-theme="dark" href="https://twitter.com/gogopiromi?ref_src=twsrc%5Etfw">Tweets by gogopiromi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>