<h1><%= link_to 'に〜とプログラマちゃんねる', posts_index_url %></h1>
<h1>『愛がいっぱい I カップ』手島優非公式応援サイト</h1>
<p>こちらのサイトは皆さんご存知『手島優』さんの非公式応援サイトです</p>
<p>グラビア、タレント、女優、歌手ととても多岐にわたる活躍をしてる手島優さん</p>
<p>ちなみに旧芸名『手嶋ゆう』だそう</p>
<p>そんな手島優さんを僕が知ったのは伝説のユニット爆乳ヤンキーです</p>
<p>下が貴重な爆乳ヤンキーの動画です（よく残ってたなと同士に感謝です）</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VxkOQ3uW4mE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mOrXBzm-vc0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>僕が手島優さんを知ったのは爆乳ヤンキーでしたが、実はその前にもユニットを組んでいてそれが『爆乳戦隊パイレンジャー』</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/U1JLpAqonuU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>もう、何も言えないですよね。さすがです</p>
<p>そして、手島優さんをより深く知るようになったのが『ロンハー』と『ゴッドタン』</p>
<p>ロンハーでの手島優がうっすら滑り続ける時間、通称『てじTime』</p>
<p>そして、このすっぴんの画像</p>
<%= image_tag asset_path("tezimasuppin.jpg", alt: "手島優すっぴん") %>
<p>懐かしい限りです</p>
<h1>手島優さんが新しいユニットを！？</h1>
<p>そんな我らがスーパーアイドル手島優さんが新しいユニットを始めていました</p>
<p>※全く知らなかったので驚きました</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/GcjW_YKt44I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>概要欄にはこんなメッセージが！</p>
<blockquote>「ハミ乳、ハミ乳、マジ卍」令和もヤるぜ！爆乳シリーズ下剋上！<br>
オリコンミュージックストアで月間一位を記録し、<br>
令和を代表するパーティーソングとなったハミ乳パパラッチ。<br>
<br>
なんと、カラオケDAMでも7月26日より配信開始！<br>
<br>
さあ、なにもかも忘れて歌おうよ！<br>
パイパイパイ・パイパイパイ・パイパイパイパイパイパイパイ！<br>
<br>
<br>
YOUTUBERならぬ、「NYOUTUBER」<br>
爆乳シリーズの長、手島優が贈る、感度抜群のダンシングチューン！</blockquote>
<p>と言うことで非公式ながら手島優さんを応援していきましょう！！</p>
<h4>コメント一覧</h4>
<% @tezimas.each do |tezima| %>
  <p>
    <%= tezima.name %> : <%= tezima.body %>
  </p>
  <% end %>
<h4>コメント投稿</h4>
<%= form_for @newTezima, :url => {:action => 'create'} do |f| %>
  <p>お名前</p>
  <p><%= f.text_field :name %></p>
  <p>本文</p>
  <p><%= f.text_area :body %></p>
  <%= f.submit '投稿' %>
<% end %>
