<h1 id="title">に〜とプログラマちゃんねる</h1>
<a class="twitter-timeline" data-width="300" data-height="300" href="https://twitter.com/gogopiromi?ref_src=twsrc%5Etfw">Tweets by gogopiromi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<li><a href="http://info.2ch.sc/guide/adv.html#saku_guide" target="_blank">ガイドライン(2ちゃんねる引用)</a></li>
<li><a href="" target="_blank">こうた日記（閉鎖中）</a></li>
<li><%= link_to "おすすめYoutube動画埋め込みサイト", youtubes_path%></li>
<li><%= link_to "手島優非公式応援サイト【愛がいっぱいIカップ】", tezimas_index_path%></li>

<p>検索</p>
<%= form_tag(posts_index_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>

<h2>投稿一覧</h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, posts_show_path(post.id) %>
        <%= link_to '[削除]', post_delete_path(post.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
</li>
  <% end %>
</ul>

<h2>新規投稿</h2>
<%= form_for @newPost, :url => {:action => 'create'} do |f| %>
    <%= f.text_field :title %>
    <%= f.submit '投稿する' %>
<% end %>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Bh4uwvosBXY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<a class="twitter-timeline" data-width="300" href="https://twitter.com/BKBbunbun?ref_src=twsrc%5Etfw">Tweets by BKBbunbun</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-timeline" data-width="300" href="https://twitter.com/konan_yade?ref_src=twsrc%5Etfw">Tweets by konan_yade</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hmBK9wpYbBY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<a class="twitter-timeline" data-width="300" href="https://twitter.com/nana_ozaki?ref_src=twsrc%5Etfw">Tweets by nana_ozaki</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>