<h1>超個人的TV</h1>
<li><a href="http://info.2ch.sc/guide/adv.html#saku_guide" target="_blank">ガイドライン(2ちゃんねる引用)</a></li>
<li><a href="https://rarigo.com/" target="_blank">こうた日記</a></li>
<li><%= link_to "おすすめYoutube動画埋め込みサイト", youtubes_path%></li>
<li><%= link_to "手島優非公式応援サイト【愛がいっぱいIカップ】", tezimas_index_path%></li>

<h2>番組一覧</h2>
<ul>
    <% @posts.each do |post| %>
        <li><%= link_to post.title, posts_show_path(post.id) %>
        <%= link_to '[削除]', post_delete_path(post.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %></li>
    <% end %>
</ul>
<h2>新規投稿</h2>
<%= form_for @newPost, :url => {:action => 'create'} do |f| %>
    <%= f.text_field :title %>
    <%= f.submit '投稿する' %>
<% end %>