<% content_for :css do %>
  <%= stylesheet_link_tag 'posts/index' %>
<% end %>

<div class="top">

  <h1 id="title">
    <%= image_tag 'omosirosugirusasugasinagawasann.png', size: '60x60' %>に〜とプログラマちゃんねる<%= image_tag 'maedaatuko.png', size: '60x60' %>
  </h1>



  <p>検索</p>
  <%= form_tag(posts_index_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', :name => nil %>
  <% end %>
  <h3>■に〜とプログラマちゃんねるって？</h3>
  <p>まだ特に決まってないよ、、、</p>
  <h3>■検索機能もあるよ！</h3>
  <h3>削除人＆協力者募集中</h3>
  <p>に〜とプログラマちゃんねるは一緒に運営を手伝ってくれる仲間を募集しています。</p>
  <p>お問い合わせは<a href="https://join.slack.com/t/neeterdojo/shared_invite/zt-u4xti9g6-nh~cYFikYlrsNKnnvxHnIw" target="_blank">Slack</a>まで</p>

    <li><a href="http://info.2ch.sc/guide/adv.html#saku_guide" target="_blank">ガイドライン(2ちゃんねる引用)</a></li>
    <%= image_tag 'nonsta-omosirosyasinn.png', size: '100x100'%>
    <li><a href="https://2ch.sc/">２ちゃんねる</a></li>
    <li><a href="https://cruel.org/freeware/hacker.html" target="_blank">ハッカーになろう</a></li>
    <li class="indent"><a href="http://norvig.com/21-days.html" target="_blank">10年がかりでプログラムを学ぼう</a></li>
    <li><a href="https://6246.teacup.com/utunokyoyu/bbs" target="_blank">鬱の悩みを共有する会</a></li>
    <li><a href="https://5ch.net/" target="_blank">5ちゃんねる</a></li>
    <li><a href="https://news.yahoo.co.jp/" target="_blank">Yahoo!ニュース</a></li>
    <li><a href="https://www3.nhk.or.jp/news/">NHKニュース</a></li>
    <li><a href="https://news.tv-asahi.co.jp/">テレ朝ニュース</a></li>
    <li><a href="https://bunshun.jp/">文春オンライン</a></li>
    <li class="indent"><a href="https://bunshun.jp/articles/-/43886">辻敬太氏が語った交通事故“被害者との諍い”の真実</a></li>
    <li><a href="http://vipprog.net/wiki/exercise.html" target="_blank">練習問題 - プログラミングスレまとめ in VIP</a></li>
    <li><a href="https://www.nicovideo.jp/" target="_blank">ニコニコ</a></li>
    <li><a href="http://www.ikimono.net/sono53/index.html" target="_blank">アカハライモリ（ニホンイモリ）観察日記　Page１</a></li>
    <li><a href="https://youtu.be/wQ3yiDZp8y0" target="_blank">『イモリとカエルから学ぶ発生のしくみ～教科書では伝えきれない魅力的な教材の開発～』農学部生産農学科理科教員養成プログラム／ 有泉 高史 教授</a></li>
    <li><a href="https://hige-oyaji.at.webry.info/" target="_blank">ヒゲおやじの気まま流野菜づくり日記</a></li>
    <li class="indent"><a href="http://hiro.asks.jp/">ひろゆき日記＠オープンSNS。</a></li>
    <li><a href="https://kona0001.hatenablog.com/" target="_blank">kona0001の日記</a></li>
    <li><a href="https://kenkoooo.com/atcoder/#/table/" target="_blank">AtCoder Problems</a></li>
    <li><a href="https://news.mynavi.jp/kikaku/newlife-21/?utm_source=special&utm_medium=internal" target="_blank">一途に自分と対話する。元ブルゾンちえみ、藤原しおりの人生を満足して生きる指針</a></li>
    <li><a href="https://otona-scratch.champierre.com/" target="_blank">大人のためのScratch</a></li>
    <li><a href="http://www.kabukicho.or.jp/" target="_blank">KABUKI町</a></li>
    <li><a href="https://tokyodeep.info/" target="_blank">東京DEEP案内</a></li>
    <li><a href="http://www.patu.jp/" target="_blank">Patu</a>(Shot Bar)</li>
    <li>スナック・マドンナ（立川）たまにぼったくられます</li>
    <li><a href="https://toyokeizai.net/" target="_blank">東洋経済オンライン</a></li>
    <li><a href="https://logmi.jp/tech/articles/324056" target="_blank">半年かけてやっと動いた”Hello, World!"
    Ruby言語をまつもとゆきひろ氏が17歳から開発した理由</a></li>
    <li><a href="https://www.google.com/search?rlz=1C5CHFA_enJP901JP901&tbs=lf:1,lf_ui:9&tbm=lcl&sxsrf=ALeKk02q-VwsJ1DhPpEyqfm-eSG0JFcDEg:1615818066707&q=%E5%9B%BD%E7%AB%8B%E5%B8%82+bar&rflfq=1&num=10&ved=2ahUKEwjewYyvv7LvAhViNKYKHa96AkgQtgN6BAgEEAc#rlfi=hd:;si:17427191791928788889,l,Cg3lm73nq4vluIIgYmFyWhUKA2JhciIO5Zu956uLIOW4giBiYXKSAQNiYXKqAQsQASoHIgNiYXIoCA,y,X1M_4ggqfVA;mv:[[35.69932322721535,139.4483068977004],[35.69606893562196,139.44388125282583],null,[35.69769609801965,139.44609407526312],18]" target="_blank">レッドトップ</a>（国立のBar）</li>
    <li><a href="https://kensui-to-watashi.com/" target="_blank">懸垂のできる公園リスト（マップ）</a></li>

</div>

<div class="sure">

  <h2>スレ一覧</h2>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, posts_show_path(post.id) %>
          <%= link_to '[削除]', post_delete_path(post.id), method: :delete, data: {confirm: "削除してもよろしいでしょうか？"} %>
          コメント <%= post.comments.count %>
      </li>
    <% end %>
  </ul>


  <h2>新規スレ</h2>
  <%= form_for @newPost, :url => {:action => 'create'} do |f| %>
      <%= f.text_field :title %>
      <%= f.submit 'スレ立て' %>
  <% end %>

</div>
