<h1><%= @post.title %></h1>
<% @comments.each_with_index do |comment, idx| %>
    <p>
        <%= idx + 1 %>. <%= comment.name %> : <%= comment.body %>
    </p>
<% end %>
<h3>新規書き込み</h3>
<%= form_for @newComment, :url => comment_create_path do |f| %>
  <p>お名前</p>
  <p><%= f.text_field :name %></p>
  <p>本文</p>
  <p><%= f.text_area :body %></p>
  <%= f.hidden_field :post_id %>
  <%= f.submit %>
<% end %>