<h1><%= link_to 'に〜とプログラマちゃんねる', posts_index_url %></h1>

<h1><%= @post.title %></h1>
<% @comments.each_with_index do |comment, idx| %>
    <p>
        <%= idx + 1 %>. <%= comment.name %> : <%= comment.body %>：<%= comment.created_at.to_s(:datetime)%>
    </p>
<% end %>
<h3>新規書き込み</h3>
<%= form_for @newComment, :url => comment_create_path do |f| %>
  <p>お名前</p>
  <p><%= f.text_field :name %></p>
  <p>本文</p>
  <p><%= f.text_area :body, :cols => 100, :rows => 10  %></p>
  <%= f.hidden_field :post_id %>
  <%= f.submit 'コメントする'%>
<% end %>
<a class="twitter-timeline" data-width="300" data-height="600" data-theme="dark" href="https://twitter.com/hirox246?ref_src=twsrc%5Etfw">Tweets by hirox246</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-timeline" data-width="300" data-height="600" href="https://twitter.com/dave_spector?ref_src=twsrc%5Etfw">Tweets by dave_spector</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qOI-bYFKLMA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>