<h1><%= link_to 'に〜とプログラマちゃんねる', posts_index_url %></h1>
<h1><%= @post.title %></h1>
<% @comments.each_with_index do |comment, idx| %>
    <p>
        <%= idx + 1 %>. <%= comment.name %> : <%= comment.body %>：<%= comment.created_at.to_s(:datetime)%>
    </p>
<% end %>
<h3>新規書き込み</h3>
<%= form_for @newComment, :url => comment_create_path do |f| %>
  <p>お名前</p>
  <p><%= f.text_field :name %></p>
  <p>本文</p>
  <p><%= f.text_area :body, :cols => 100, :rows => 10  %></p>
  <%= f.hidden_field :post_id %>
  <%= f.submit 'コメントする'%>
<% end %>